/* ~~~~~~~~~~~~~~~~~~~~
Main Document Styles
~~~~~~~~~~~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');

* {
  /* Define Varibles here */

  /* Style Sleeper */
  --bkgnd-main: #181c28;
  --bkgnd-sub: #1f2431;
  --bkgnd-panel: rgba(58,70,91,0.5);
  --bkgnd-panel-sub: rgba(58,70,91,0.25);
  --bkgnd-alt-dark: #18202f;
  --bkgnd-drk-odd: #212635;
  /* --bkgnd-lt: #377771; */
  /* --bkgnd-drk: #1b403f; */
  --tab-bkgnd: rgba(0,206,184,0.1);
  --tab-select-bkgnd: #00ceb8;
  --border-main: #3a465b;

  /* --shadow-main: #18202f; */
  --text-main: #FFF;
  --text-sub:  #b9c4d4;
  --text-sub-a:  #7988a1;
  --text-sub-b:  #a3bbd3;
  --text-sub-dark: #677897;
  --text-select-dark: #022047; 
  --color: #00422d;
  /* --text-hlght:  #E6E49F; */
  /* --text-drk:  #0D1F22; */
  /* --text-drk-alt:  #0b5556; */
  /* --text-grey: #8BAAAD; */
  /* --button-norm: #0A8754; */
  /* --button-hov: #1b403f; */
  /* --button-tgt: red; */
  /* --tab-highlight: #1b403f; */
  /* --select-highlight: #fff; */
  /* --bkgnd-plain: #0D1F22; */
  --error-red: #ff2b6d;
  /* --misc: #69995D; */

  
  /* Style A */
  /* --bkgnd-main: #0D1F22; */
  /* --bkgnd-sub: #132d2c; */
  --bkgnd-lt: #377771;
  --bkgnd-drk: #1b403f;
  --shadow-main: #18202f;
  /* --text-main: #FFF; */
  /* --text-sub:  #87BAAB; */
  --text-hlght:  #E6E49F;
  --text-drk:  #0D1F22;
  --text-drk-alt:  #0b5556;
  --text-grey: #8BAAAD;
  --button-norm: #0A8754;
  --button-hov: #1b403f;
  --button-tgt: red;
  --tab-highlight: #1b403f;
  --select-highlight: #fff;
  --bkgnd-plain: #0D1F22;
  --error-red: #ff2b6d;
  --misc: #69995D;
  /* --bkgnd-plain: rgb(207, 207, 207);
  --button-norm: rgb(151, 232, 51);
  --button-hov: #BEE5BF;
  --tab-highlight: #277357;
  box-sizing: border-box; */
  /* Fonts */
  font-family: 'Mukta', sans-serif;
  box-sizing: border-box;

  --btn-gradient: linear-gradient(315deg,#00b7b3,#4ce2a7);
  --btn-gradient-flip: linear-gradient(100deg,#00b7b3,#4ce2a7);
}

/* App Container Styles
~~~~~~~~~~~~~~~~~~~~ */

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

.app-landing {
  min-height: 100vh;
}

.app-layout {
  height: 100vh;
  width: 100vw;
  /* background-color: var(--bkgnd-main); */
  display: flex; 
}

.app-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.center-panel-container {
    position: relative;
    width: 100%;
    height: 100%;
}

#page-all {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
    background-color: #181c28;
}

#section-container{
  display: flex;
  flex-direction: row;
  // height: 100%;
  flex-grow: 1;
  // flex: 1;
  gap: 1.5rem;
  overflow: hidden;
}

#main-section {
  flex-grow: 2;
  color: #bbb;
  background-color: rgba(58,70,91,0.5);
  border: 1px solid #3a465b;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  height: 100%,
}

#toggle-btn-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.test-container {
  // height: 100%;
  overflow-y: scroll;
  flex-grow: 1;
  // border: 1px solid greenyellow;
}

#league-home-container {
  // height: 100%;
  // flex-grow: 1;

  display: flex;
  flex-direction: column;
  padding: 0 1.5rem 1.5rem 1.5rem;
  // overflow-y: scroll;
  // overflow: hidden;
  gap: 1rem;
  // border: 1px solid red;
}

.test-div {
  height: 300px;
  width: 100%;
  // border: 1px solid orange;
}

#league-btns {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#drawer > div {
    background-color: #1f2431;
    border-right: 1px solid #3a465b
}

#text-pair {
  justify-content: flex-start;
  align-items: center;
}