/* ~~~~~~~~~~~~~~~~~~~~
Main Document Styles
~~~~~~~~~~~~~~~~~~~~ */

.app-landing {
  min-height: 100vh;
}

* {
  /* Define Varibles here */
  --bgnd-plain: rgb(207, 207, 207);
  --button-norm: rgb(151, 232, 51);
  --button-hov: rgb(151, 232, 51);

}
