/* ~~~~~~~~~~~~~~~~~~~~
Main Document Styles
~~~~~~~~~~~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');

* {
  /* Define Varibles here */
  /* Style A
  --bkgnd-main: #172A3A;
  --bkgnd-sub: #004346;
  --bkgnd-lt: #74B3CE;
  --bkgnd-drk: #508991;
  --text-main: #EBF5DF;
  --text-sub: #BAD4AA;
  --button-norm: red;
  --button-hov: red;
  --button-tgt: red; */

  /* Style B
  --bkgnd-main: #1E2019;
  --bkgnd-sub: #394032;
  --bkgnd-lt: #4f5845;
  --bkgnd-drk: #508991;
  --text-main: #CFEE9E;
  --text-sub:  #CFEE9E;
  --button-norm: #2BC016;
  --button-hov: red;
  --button-tgt: red; */

    /* Style C */
  --bkgnd-main: #0D1F22;
  --bkgnd-sub: #132d2c;
  --bkgnd-lt: #377771;
  --bkgnd-drk: #1b403f;


  --text-main: #FFF;
  --text-sub:  #87BAAB;
  --text-hlght:  #E6E49F;
  --text-drk:  #0D1F22;
  --text-drk-alt:  #0b5556;
  --text-grey: #8BAAAD;

  --button-norm: #0A8754;
  --button-hov: #1b403f;
  --button-tgt: red;
  --tab-highlight: #1b403f;
  --select-highlight: #fff;
  --bkgnd-plain: #0D1F22;
  --error-red: #820933;

  --misc: #69995D;



  box-sizing: border-box;




  /* --bkgnd-plain: rgb(207, 207, 207);
  --button-norm: rgb(151, 232, 51);
  --button-hov: #BEE5BF;

  --tab-highlight: #277357;
  box-sizing: border-box; */

  /* Fonts */
  font-family: 'Mukta', sans-serif;

}

/* App Container Styles
~~~~~~~~~~~~~~~~~~~~ */
.app-landing {
  min-height: 100vh;
}


.app-layout {
  height: 100vh;
  width: 100vw;
  background-color: var(--bkgnd-main);
  display: flex; 
}

.left-panel-container {
  height: 100vh;
  width: 250px;
  flex: 0 0 240px;

  display: flex;
  flex-direction: column;
  background-color: var(--bkgnd-sub);
  border: 1px solid var(--bkgnd-drk);
}

.center-panel-container {
}

/* Left Panel Styles
~~~~~~~~~~~~~~~~~~~~ */
/* NavHeader
~~~~~~~~~~~~~~~~~~~~ */
.nav-header {
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo{
  font-size: 3rem;
  color: var(--text-main)
}

/* Nav Body
~~~~~~~~~~~~~~~~~~~~ */
.nav-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 1rem 2rem 2rem 2rem;
  text-decoration: none;
  transition: 0.25s;
  z-index: 1;
  margin-left: 1rem;

}

.nav-link:hover {
  background-color: var(--tab-highlight);
  /* border-radius: .5rem; */
}

#new-league p {
  flex-grow: 1;
}

.tab-selected {
  border-left: 3rem soid var(----select-highlight);
  margin-left: 0rem;
}

.nav-link p {
  font-size: 2rem;
  color: var(--text-sub);
  font-weight: 400;
}

.tab-selected p {
  color: var(--text-hlght);
}

.nav-link img {
  width: 3rem;
  margin-right: 1rem;
}

#new-league p {
  flex: 1 1 0;
  color: var(--text-main);
  font-weight: 700;
}


/* Nav Footer
~~~~~~~~~~~~~~~~~~~~ */
.nav-footer {
  flex: 0 0 100px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: .5rem 1rem .5rem 2rem;
  background-color: var(--bkgnd-main);
  /* border: 1px solid var(--bkgnd-lt); */
  border-radius: 0.5rem;
}

.profile-container {
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.profile-container p {
  font-size: 1.5rem;
  color: var(--text-main);
  font-weight: 700;
}

.profile-container button {
  cursor: pointer;
  font-size: 1.5rem;
  background-color: var(--button-norm);
  border: none;
  border-radius: 0.5rem;
  padding: 0.3rem 0.7rem;
}


.nav-footer img {
  width: 3rem;
}

/* Center Panel Styles
~~~~~~~~~~~~~~~~~~~~ */
/* See Tabs for Tab Component Styling */
.center-panel-container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.center-panel-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  padding: 2rem 2rem 2rem 2rem;
}

.center-panel-header {
  display: flex;
  flex-direction: row;
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  flex-grow: 1;
  align-items: center;
  color: var(--text-main)
}

.dual-content-panel {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  /* background-color: aqua; */
}


.center-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  border-radius: 1.5rem;
  /* overflow: hidden; */
  border: 1px solid var(--bkgnd-lt);
  background-color: var(--bkgnd-sub);
}

.center-panel-tabs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2rem;

}

.center-panel-tab-item {
  font-size: 2rem;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  background-color: var(--bkgnd-drk);
  border-radius: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-sub);
  text-decoration: none;
}

.center-panel-tab-item.league-tab-selected {
  color: var(--text-sub);
  background-color: var(--bkgnd-lt);
}

.center-panel-display {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem 0rem 3rem;
  overflow: hidden;
}

.center-panel-content-all {
  position: relative;
  /* background-color: #0A8754; */
  overflow-y: scroll;
  padding-bottom: 3rem;
}

.center-panel-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.center-panel-header h1 {
  font-size: 3.5rem;
  padding-left: 1rem;
  color: var(--text-main);
}

.center-panel-header p {
  font-size: 2rem;
  padding-left: 1rem;
  color: var(--text-sub);
}

.center-panel-header img {
  height: 4rem;
}







/* Right Panel Styles
~~~~~~~~~~~~~~~~~~~~ */
.right-panel {
  background-color: var(--tab-highlight);
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-grow: 1;
  max-width: 400px;
  border-radius: 1.5rem;
  overflow: hidden;
  margin-left: 2rem;
  border: 1px solid var(--bkgnd-sub);
  border: 1px solid var(--bkgnd-lt);
  background-color: var(--bkgnd-sub);

}

/* Layout Changes (small Screens 
~~~~~~~~~~~~~~~~~~~~ */
@media only screen and  (max-width:1300px) {
  .center-panel {
    min-width: 600px;
  }
  .right-panel {
    min-width: 250px;
  }
}

@media only screen and  (min-width:1600px) {
  .center-panel {
    min-width: 900px;
  }
  .right-panel {
    max-width: none;
  }
}



