/* Auth Container Styles
~~~~~~~~~~~~~~~~~~~~ */
.app-landing {
    min-height: 100vh;
}

.auth-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}

.auth-left {
    min-width: 500px;
    height: 100vh;
    background-color: rebeccapurple;
    display: flex;
    flex: 2 2 0; /* flex grow , shrink,  basis */
    position: relative;
}

.auth-right {
    flex: 3 3 0;
    height: 100vh;
    background-color: var(--bkgnd-plain);
    display: flex;
    position: relative;
    flex-direction: row;
}

.auth-content {
    padding: 100px 100px 100px 100px;
    flex-grow: 1;
    margin: auto;
    max-width: 600px;
}


/* Auth Header Styles
~~~~~~~~~~~~~~~~~~~~ */
.auth-header {
    padding: 0 10px;
    margin-bottom: 40px
}

.auth-header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding-bottom: 1rem;
}

.auth-header-main h1 {
    flex-grow: 1;
    font-size: 5rem;
    color: var(--text-main);

}

.auth-header-main p {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--button-norm);
    transition: 0.5s;
}

.auth-header-main p:hover {
    transform: scale(1.15);
    box-shadow: 3px 3px rgba(0,0,0, 0.25);
    color: var(--text-hlght);
}

.auth-header-sub {
    font-size: 1.7rem;
    color: var(--text-sub);
}


/* Form Styles
~~~~~~~~~~~~~~~~~~~~ */
.form-item-container {
    min-width: 350px;
    margin-bottom: 2rem;
}

.input-container {
    display: flex;
    flex-grow: 1;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.input-container input {
    width: 100%;
    font-size: 2rem;
    color: var(--text-sub);
    background-color: var(--bkgnd-sub);
    padding: 1rem 1rem 1rem 1rem;
    border: none;
    border-radius: 0.2rem;
    box-shadow: 3px 3px rgba(0,0,0,0.15);
    transition: 0.5s;
}

::-webkit-input-placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--misc));
  }

.input-container input:focus {
    outline: none;
    box-shadow: 7px 7px rgba(0,0,0,0.15);
    transform: scale(1.03)
    /* border: 1px solid var(--text-hlght); */
}

.form-item-container label {
    margin-bottom: 1rem;
    font-size: 1.3rem;
       color: var(--text-sub);
}

.form-submit-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.form-submit-container p {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--button-norm);
    transition: 0.5s;
    cursor: pointer;
}

.form-submit-container p:hover {
    transform: scale(1.15);
    box-shadow: 3px 3px rgba(0,0,0, 0.25);
    color: var(--text-hlght);
}

.form-btn-container {
    flex-grow: 1;
}

.form-btn-container button {
    padding: 1rem 3rem 1rem 3rem;
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
    background-color: var(--button-norm);
}

.form-btn-container button:hover {
    box-shadow: 3px 3px rgba(0,0,0, 0.25);
    background-color: var(--button-hov);
    color: var(--text-hlght);
    transform: scale(1.1)
}


.form-item-container p {
    font-size: 1.3rem;
    padding: 1rem 0rem 0rem 1rem;
    color: var(--text-sub);
}

/* Login Specific Styles
~~~~~~~~~~~~~~~~~~~~ */

#email-error-login {
    color: var( --error-red);
    visibility: hidden;
}

#email-error-login.invalid {
    visibility: visible;
}

#pass-error-login {
    color: var( --error-red);
    visibility: hidden;
}

#pass-error-login.invalid {
    visibility: visible;
}



/* Sign Up Specific Styles
~~~~~~~~~~~~~~~~~~~~ */

#email-error {
    color: var( --error-red);
    visibility: hidden;
}

#email-error.invalid {
    visibility: visible;
}


p[id*="pass-error-signin"].invalid {
    color: var( --error-red);
}



