/* Auth Container Styles
~~~~~~~~~~~~~~~~~~~~ */
.app-landing {
    min-height: 100vh;
}

.auth-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: row;
}

.auth-left {
    min-width: 500px;
    height: 100vh;
    background-color: rebeccapurple;
    display: flex;
    flex: 2 2 0; /* flex grow , shrink,  basis */
    position: relative;
}

.auth-right {
    flex: 3 3 0;
    height: 100vh;
    background-color: var(--bgnd-plain);
    display: flex;
    position: relative;
    flex-direction: row;
}

/* Login Styles
~~~~~~~~~~~~~~~~~~~~ */

.login-container {
    padding: 100px 100px 100px 100px;
    flex-grow: 1;
    margin: auto;
    max-width: 600px;
}

.login-header {
    padding: 0 10px;
    margin-bottom: 40px
}

.login-header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding-bottom: 1rem;
}

.login-header-main h1 {
    flex-grow: 1;
    font-size: 4rem;

}

.login-header-main p {
    font-size: 1.5rem;
    font-weight: bold;
}

.login-header-sub {
    font-size: 1.5rem;

}







#email-error-login {
    color: red;
    visibility: hidden;
}

#email-error-login.invalid {
    visibility: visible;
}

#pass-error-login {
    color: red;
    visibility: hidden;
}

#pass-error-login.invalid {
    visibility: visible;
}

