/* General Tab Styling
~~~~~~~~~~~~~~~~~~~ */



/* League Tab Styling
~~~~~~~~~~~~~~~~~~~ */

.league-display-all {
    position: relative;
    /* background-color: #0A8754; */
    overflow-y: scroll;
  }
  
  .league-display-content {
    background-color: red;
    margin: 2rem 2rem 2rem 2rem;
    height: 500px;
  }


  /* Settings Styling
~~~~~~~~~~~~~~~~~~~ */
.league-settings-all {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: var(--tab-highlight);
    /* border: 1px solid red; */
}

.league-section-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.league-section-header p {
    color: var(--text-main);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.league-section-header img {
    height: 2rem;
    cursor: pointer;
}

.league-settings-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 4rem 0rem 1rem;
}

.league-settings-item p:nth-child(1) {
    color: var(--text-sub);
    font-size: 1.5rem;
}
.league-settings-item p:nth-child(2) {
    color: var(--text-main);
    font-size: 1.5rem;
}


  /* Standings Styling
~~~~~~~~~~~~~~~~~~~ */

.league-standings-all {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: var(--tab-highlight);
    margin-bottom: 3rem;
}

.league-standings-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 4rem 1.5rem 1rem;
}

.league-standings-item p:nth-child(1) {
    color: var(--text-sub);
    font-size: 1.5rem;
}
.league-standings-item p:nth-child(2) {
    color: var(--text-main);
    font-size: 1.5rem;
}

  /* Standings Styling
~~~~~~~~~~~~~~~~~~~ */

.league-activity-all {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2.5rem;
    border-radius: 1rem;
    background-color: var(--tab-highlight);
    margin-bottom: 3rem;
}

.league-activity-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1.5rem 4rem 1.5rem 1rem;
}

.league-activity-item p:nth-child(1) {
    color: var(--text-sub);
    font-size: 1.5rem;
    padding-right: 2rem;
    white-space: nowrap;
}
.league-activity-item p:nth-child(2) {
    color: var(--text-main);
    font-size: 1.5rem;
}

